# Dependencies
node_modules
.pnpm-store

# OS / Editor junk
.DS_Store
.idea
.vscode/

# Logs & profiling
*.log
*.local
*.cpuprofile

# Build outputs
dist
dist-ssr

# Example: ignore all dist folders in packages
packages/**/dist
packages/**/dist-ssr

# Misc
explorations

.vercel

.vercel

.vercel
