:root {
  --background: 0 0% 100%;
  --foreground: 0 0% 10%;
  --radial-bg: radial-gradient(circle at 50% 50%, hsl(0, 0%, 99%) 10%, hsl(0, 23%, 97%) 100%);
  --navbar-bg: 252 252% 252%;
  --footer-bg: 255 255% 255%;
}

.dark {
  --background: 0 0% 7%;
  --foreground: 0 0% 90%;
  --radial-bg: radial-gradient(circle at 50% 50%, hsl(221, 63%, 8%) 10%, hsl(221, 100%, 2%) 100%);
  --navbar-bg: 0 0% 10%;
  --footer-bg: 0 0% 9%;
}

body {
  background: var(--radial-bg);
  color: hsl(var(--foreground));
}
