/* main {
  scrollbar-width: thin;
  scrollbar-color: hsl(var(--muted-foreground)) transparent;
} */

main::-webkit-scrollbar {
  width: 1px; /* scrollbar width */
}

main::-webkit-scrollbar-thumb {
  background-color: hsl(var(--muted-foreground)); /* thumb color */
  border-radius: 8px;
}

main::-webkit-scrollbar-track {
  background: transparent; /* or hsl(var(--background)) */
}
